# Django configuration
DEBUG=True
SECRET_KEY=django-insecure-some-secret-key-goes-here

# Database Configuration (PostgreSQL example)
# Set DB_ENGINE to django.db.backends.postgresql to activate PostgreSQL
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=callbreak
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
